* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
}

input{
    padding: .5rem;
    margin: 1rem 0;
}

.submit:hover{
    background-color: rgb(31, 31, 46);
    color: white; 
}

#linear-container{
    margin: 2vw;
}

#linear-submit{
    cursor: pointer;
}

#console-logging{
    margin: .5rem 0;
}